<div class="main">
<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
      <h4 class="company_title"></h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
      <div class="container-fluid">
        <div class="card">
          <h4 class="card-header">Register</h4>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="fName">First Name</label>
                <input type="text" formControlName="fName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                <div *ngIf="submitted && f.fName.errors" class="invalid-feedback">
                  <div *ngIf="f.fName.errors.required">First Name is required</div>
                </div>
              </div>
              <div class="form-group">
                <label for="lName">Last Name</label>
                <input type="text" formControlName="lName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                <div *ngIf="submitted && f.lName.errors" class="invalid-feedback">
                  <div *ngIf="f.lName.errors.required">Last Name is required</div>
                </div>
              </div><div class="form-group">
              <label for="email">Email</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Last Name is required</div>
              </div>
            </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
                  <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Register
                </button>
                <a (click)="cancel()" class="btn btn-link">Cancel</a>
              </div>
            </form>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>
</div>

